<% include header %>
<body>
<div class="container">
  <form action="action_page.php">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname">

    
    <label for="cnumber">Contact Number </label>
    <input type="text" id="cnumber" name="contactnumber">
    <p></p>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" style="height:100px" style=""></textarea>

    <input type="Done" value="Done">

  </form>
</div>
<% include footer %>